.idea/artifacts
 .idea/compiler.xml
 .idea/jarRepositories.xml
 .idea/modules.xml
 .idea/*.iml
 .idea/modules
 */.idea/**
 */.idea/*
 *.iml
 *.ipr
 */.html

 */target/**
 */target/*


 target/**
 **/target

 /target
 **/.idea